<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title><%= content_for(:title) || "Time To Answer" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Font Awesome from CDN -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css", rel: "stylesheet" %>
    <!-- SB Admin 2 CSS from CDN -->
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.1.4/css/sb-admin-2.min.css", rel: "stylesheet" %>

</head>

<body class="bg-gradient-primary">

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                  <%= yield %>
                </div>
            </div>
        </div>
    </div>

    <%= javascript_importmap_tags %>

    <% if flash %>
      <% flash.each do |key, value| %>
        <%= javascript_tag do %>
          $.bootstrapGrowl('<%= value %>', {
          type: 'danger', // (null, 'info', 'danger', 'success')
          align: 'right', // ('left', 'right', or 'center')
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
          });
        <% end %>
      <% end %>
    <% end %>

</body>

</html>